  @media (min-width: 1100px) {

  .menu-bar{
    width: 100%;
  }

  .logo, .logo-img {
    width: 100%;
    margin: 0;
  }

  .container-1 {
    padding-top: 20px;
  }

 }
  
  
 @media (max-width: 920px) {
  h1{
    font-size:1.5rem;
    padding: 0px;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

   p{
    font-size: 0.9rem;
    padding: 0px;
  }

  .about-text{
    padding: 20px;
    font-size: 0.9rem;
    max-width: 680px;
  }
  
  .men{
    display: none;
  }

  .women{
    max-width: 320px;
    position: inherit;
  }

  .buy{
    width: 320px;
    margin: 0 auto;
    padding-left: 19px;
  }

  .group-picture {
    max-width: 601px;
    padding-bottom: 10px; 
  }
  
  .mens-jackets {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .cta {
    margin: 30px 0px;
  }
  
  .navigation {
    padding: 0px;
    padding-right: 0px;
  }


  .footer-text {
    margin: 0 auto;
    max-width: 850px;
  }

  .about {
    margin-top: 25px;
  }

  .welcome-collection {
    grid-template-columns: 250px auto;
    padding-top: 50px;
  }
 
.star{
  top: -183px;
  left: 192px;

}
.create-account {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
 
}
.purchase {
  margin: 0 auto;
}

.card-details {
  margin: 0 auto;
}

.men-section {
  grid-template-columns: 250px auto;
  padding-top: 50px;
}

.women-section {
  grid-template-columns: 250px auto;
  padding-top: 50px;
}

.wrap {
  max-width: 500px;
  margin-top: 40px;
  padding: 0px;
}

 .form-footer {
  padding-right: 0;
}

.shopping{
  margin-bottom: 20px;
}

.Confirmation {
  text-align: center;
  margin: 20px 0px ;
}

.shipping{
  margin-bottom: 15px;
}

.footer_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  }


}  


/* -------------------------------------------------------------720px -------------------------------------------- */
 @media (max-width: 600px)  {
 
  .Confirmation {
    margin-left: 0px;
  }
  header { 
    position: static;
    max-width: 650px;
    margin: 0 auto;
    padding: 0;
    
  }

  ul{
    display: block;
  }

  li a {
    display: block;
    padding-right: 0;
    padding-top: 10px;
    
  }

  .search_input{
    position: static;
  }

  .copywrite {
    padding: 15px;
  }

  .style_text{
    font-size: 1.5em;
  }
  main{
    margin: opx;
  }
  
  .get-in-touch {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  
  .order-star {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .wrap-1 {
    margin: 0 auto;
    max-width: 400px;
  }
  ul {
    padding-right: 0;
    margin: 10px ;
  }

  p {
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 10px;
    }

.price {
  width: 220px;
  padding-left: 35px;
  margin: 0 auto;
}
.about-text {
  padding-left: 50px;
  padding-right: 60px ;
  max-width: 590px;
}

.about {
  margin-top: 20px;
}
.background{
  height: 350px;
}

.follow-media {
  padding: 0;
}
 

  .cards{
    height: 245px;
    width: 241px;
    
  }

  .details {
    max-width: 320px;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  .details-1 {
    max-width: 120px;
  }

  /* .search-box {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 47px;
    display: inline;
    position: static;
    outline: 2px red;
  } */

  .mens-jackets {
    margin: 0 auto;
  }

  .cta-1 {
    left: 95px;
  }
/* 
   .logo-img {
    position: absolute;
    top: 12px;
    left: 247px;
  } */

  nav {
    display: none;
    background-color: #fcfcfc;
    left: 0px;
    padding-bottom: 165px;
    padding-top: 55px;
    font-size: 22px;
    font-weight: 600;
    z-index: 1;
    text-align: center;
  }

  .nav_links {
    display: block;
  }

  .menu-bar{
    width: 20%;
    outline: 2px solid green;
  }

   #burger {
    display: block;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
  } 

  #menu-checkbox:checked ~ nav {
    display: block;
    position: absolute;
    left: 0px;
    top: 155px;
  }

  .sub_nav{
    display: none;
  }
  .cta_mobile{
    display:block;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 355px;
    height: 50px;
    font-size: 1.4rem;
  }

  .women-1,
  .men-1 {
    max-width: 500px;
    border: none;
  }

   .navigation-2 {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto ;
    width: 80%;
    outline: 2px solid red;
    
    
  }

  .container-1 {
    flex-direction: column;
  }

  .men {
    position: absolute;
    left: 1px;
  }

  .men:hover {
    z-index: 1;
    transform: scale(1.1);
    transition: ease-out 250ms;
  }

  .women {
    position: inherit;
    padding-bottom: 20px;
    
  }

  .women:hover {
    transform: scale(1.1);
    transition: ease-out 250ms;
  }

  h1 {
    margin: 0;
    font-size: 2em;
    text-align: center;
  }

  .men-women{
    flex-direction: column;
  }

  .buy {
    text-align: center;
    padding-left: 0px;
  }

  .buy-now {
    padding: 10px 30px;
  }

  .new-arrivals {
    flex-direction: column;
    align-items: center;
  }

  .footer-text {
    padding: 20px;
  }

  .form-footer {
    padding: 0px;
  }
 
 .offer_discount {
  display: flex;
}

  .confirmation{
    margin: 0 auto;
    max-width: 500px;
  }
  
  .contact_info{
    margin: 0 auto;
    max-width: fit-content;
  }

  .footer-text {
   margin: 0;
   padding-right: 0px;
  }

  .form-footer {
    margin-top: 20px;
  }

  .fas.fa-shopping-cart {
    position: static;
    font-size: 25px;
    margin-left: 35px;
    } 
  
  
  /*--------------------------------------------------About us, men.women,  --------------------------*/
  .group-picture {
    width: 100%;
  }
  .about {
    margin-top: 20px;
  }

  .welcome-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .choose-my-style {
    font-size: 22px;
    padding-bottom: 10px;
    text-align: center;
    padding-bottom: 25px;
    padding-left: 64px;
    margin-bottom: 64px;
  }
  .products {
    width: 100%;
    
  }
  .welcome-2 {
    max-width: 800px;
    margin-top: 5px;
  } 

  /*------------------------------------------------collection-,log in, Sign up ------------------------------- ----*/
   .new {
    margin-top: 25px;
    font-size: 2em;
  }
  .new-1 {
    font-size: 1.4em;
  }
  .welcome-collection {
    grid-template-columns: repeat(2, auto);
  }
  .wrap {
    flex-direction: column;
    align-items: center;
  }
  .login-picture {
    left: 177px;
  }
  .cta {
    left: 169px;
    margin-bottom: 65px;
  }
  .items-2 {
    display: inline-block;
  }
  .btn {
    padding: 10px 30px;
   margin-bottom: 20px;
  }
  .sub-heading {
    font-size: medium;
    text-align: center;
  }
  
  .cart-product {
    margin-left: 7px;
    margin-bottom: -18px;
    margin-top: -8px;
    position: static;
  }
  .card-details {
    text-decoration: underline;
    margin-bottom: 50px;
  }
  
  .discount-code {
    max-width: 250px;
    margin: 0 auto;
    width: 210px;
  }

  .login-picture {
    display: none;
  }

  .text{
    display: inline-block;
    padding-top: 20px;
  }


} 

/*-----------------------------------------------media phone--media quarry -------------------------------- ----*/

@media (max-width: 540px)  {
  body {
    margin: 0;
  }

  .header{
    max-width: 500px;
  }

  .fas.fa-shopping-cart {
    font-size: 20px;
  }

   /* .logo-img {
    position: absolute;
    top: 9px;
    left: 196px;
    margin-top: 11px;
    left: 202px;
  }  */

  .navigation-2 {
    position: static;
    margin-top: 37px;
    width: 400px;
    padding-top: 8px;
    max-width: 281px;
  }

  /* .search-box {
    position: static;
    margin-bottom: 32px;
    width: 200px;
  } */

  .search_input{
    top: 91px;
   
    left: 357px;
  }

    .fas.fa-shopping-cart {
        margin-left: -8px;
        margin-top: 17px;
    }

  #burger {
    display: block;
    position: static;
    font-size: 22px;
    margin-top: 59px;
    margin-left: 38px;
  } 

  .cta-1 {
    padding: 10px 15px;
    margin: 0;
    font-size: 0.9em;
    margin-left: 6px;
  }
 

  #menu-checkbox:checked ~ nav {
    display: grid;
    position: absolute;
    left: 0px;
    top: 155px;
  }

  ul{
    padding-right: 77px;
  }

  .wrap-1 {
    margin-top: 50px;
  }

  .wrap{
    margin-top: 50px;
  }
  
  .order-confirm {
    font-size: 1.5em;
  }

.women-section {
  display: flex;
  flex-direction: column;
}
.men-section {
  display: flex;
  flex-direction: column;
}

.price{
  padding: 0;
}

.footer_links {
  display: contents;
  padding-left: 0px;
}

.footer-text{
  padding-right: 0;
}

  /*------------------------------------------------Men- women , collection-media quarry -------------------------------- ----*/
header{
  margin: 0 auto;
  padding: 0px;
}

/* .search-box{
  padding-right: 80px;
} */

.cta-1 {
  margin-right: 25px;
}

.newsletter-text {
  display: none;
}

.products-login {
  margin-top: 50px;
  max-width: 400px;
}

.form{
  margin-top:25px ;
}

.footer-text {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 50px;
  }

 .discount_code {
   width: 293px;
  }

  .discount_code {
    font-size: 22px;
  }

  .cta-1{
    width: 200px;
    margin: 10px;
  }

  ul{
    text-align: center;
    display: block;
  }

}


/*-----------------------------------------------media phone 420--media quarry -------------------------------- ----*/

/* @media (max-width: 420px) {
  body {
    margin: 0 auto;
  } */
  /* .cta-1 {
    font-size: 16px;
    padding: 8px;
    margin: 8px;
  }

  .style_text {
    padding-bottom: 20px;
    margin-bottom: 10px;
  }

  .navigation-2 {
    margin: 0 auto;
    max-width: 250px;
  } */

  /* .search-box {
    padding-left: 10px;
    margin-bottom: 35px;
    margin-top: 65px;
    padding-right: 49px;
    width: 207px;
  } */

   /* .logo-img{
    top: 0px;
    left: 150px; 
    max-width: 100px; 
    margin-top: 15px;
   
  } */

  /* .search_input {
    top: 72px;
    left: 284px; 
  }

  .container-1 {
    padding: 20px;
    margin: 0 auto;
  }
  .buy-buy {
    margin: 0 auto;
    max-width: 250px;
  }
  .buy {
    width: 250px;
  }
  
  ul{
    padding: 0px 15px;
  }

  .copywrite {
    padding: 10px;
  }

  .shopping, .shopping-women{
    display: grid;
    margin: 0 auto;
    grid-template-columns: 250px;
    padding: 0;
  }

  .welcome-collection {
    display: grid;
    grid-template-columns: 250px;
    padding: 0;
    margin-bottom: 15px;
    padding-top: 36px;
  }

  .discount_code {
    max-width: fit-content;
    width: 210px; 
    margin: 0 auto;
  }

  .account {
    margin: 0 auto;
  }

  nav a {
    text-align: center;
    width: 400px;
  }

  .cta-1.cta_mobile {
    margin: 0 auto;
    font-size: 1.3rem;
  }
 

  nav{
    padding-right: 156px;
    padding-top: 64px;
    margin-top: -23px;
  }
  .cta{
    max-width: 250px;
    margin: 10 auto;
  }
  .details {
    padding: 20px;
  }
  .account {
    grid-template-columns: 250px;
  }
 
  .noroff {
    padding: 15px;
  }

  .discount_code{
    width: 250px;
  }

   #burger {
    margin-top: 25px;
    margin-right: -6px;
    margin-left: 10px;
  } 

  .fas.fa-shopping-cart {
    margin-top: 0px;
    top: 75px;
    left: 364px;
  }

} */

/*-----------------------------------------------media phone 420--media quarry -------------------------------- ----*/
/*-----------------------------------------------media phone 420--media quarry -------------------------------- ----*/


/* @media (max-width: 320px) {
  body {
    margin: 0;
  }

  .fas.fa-shopping-cart {
    left: 371px;
    top: 60px;
  }

  .navigation-2 {
    width: 200px;
  }
  .navigation{
    padding-right: 10;
  }

  h1{
    font-size: 1rem;
  }

  h2{
    font-size: 0.9rem;
  }

  p{
    font-size: 0.7rem;
  }

  .cta-2{
    font-size: 1rem;
    padding: 15px 40px;
  }
  .new-arrivals {
    flex-direction: inherit;
  }

  logo-img {
    left: 95px;
  }
  nav a{
    font-size: medium;
    width: 90px;
  }

  #burger {
    margin: 0;
  }

  .cta{
    max-width: 250px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .details {
    padding: 20px;
  }

  .account {
    grid-template-columns: 250px;
  }

  .btn {
    margin: 10 10px;
  }

  .illustration {
    margin: 0 auto;
  }

  .wrap-1 {
    margin-bottom: 45px;
  }

  .logo-img{
    left: 100px;
    top: 13px;
  }

  .products-login{
    padding-left: 20px;
  }
  .price{
    padding: 0;
  }

  .footer_content{
    margin: 0 auto;
  }
  .discount_code {
    font-size: 16px;
  }

  .footer_links {
    font-size: 16px;
  }
  .search-box{
    padding-right: 36px;
    margin-right: 43px;
  }
  .fas.fa-shopping-cart {
    left: 285px;
    top: 84px;
  }
  .search_input{
    left: 216px;
  }
  .cta-1.cta_mobile {
    width: 120px;
   
  }
  nav a {
    padding: 0;
  }

  .footer_content {
    display: contents;
  }

  .style_text {
   font-size: 1em;
   margin-top: 10px;
   padding-bottom: 0px;
  }
  .price-1{
    border: none;
  }
  .cards {
    height: 220px;
    width: 206px;
  }
}  */
