@media (max-width: 800px) {
  body {
    margin: 0;
  }

  .cart {
    margin-top: 48px;
    margin-left: 8px;
  }

  .search-box {
    padding-left: 66px;
    padding-right: 20px;
    margin-top: 47px;
    display: inline;
    position: static;
    outline: 2px red;
  }
  .cta-1 {
    left: 95px;
  }

  .logo-img {
    position: absolute;
    top: 17px;
    left: 349px;
  }

  nav {
    display: none;
    background-color: #e9c69e;
    left: 0px;
    padding-bottom: 165px;
    padding-top: 55px;
    padding-right: 100px;
    padding-left: 100px;
    font-size: 22px;
    border-radius: 35px;
  }

  #burger {
    display: block;
    margin-top: 38px;
    margin-right: 0;
    margin-left: -32px;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
  }

  #menu-checkbox:checked ~ nav {
    display: grid;
    position: absolute;
    left: 32px;
    top: 155px;
  }
  .women-1,
  .men-1 {
    max-width: 500px;
    background-size: 370px;
  }
  .navigation-2 {
    position: static;
  }
  .container-1 {
    flex-direction: column;
  }

  .men {
    position: absolute;
    left: 1px;
  }
  .men:hover {
    z-index: 1;
    transform: scale(1.1);
    transition: ease-out 250ms;
  }

  .women {
    position: relative;
    left: 181px;
  }
  .women:hover {
    transform: scale(1.1);
    transition: ease-out 250ms;
  }

  h1 {
    margin: 0;
    font-size: 20px;
    text-align: center;
  }
  .buy-buy {
    padding-top: 88px;
    margin-top: 40px;
  }
  .buy {
    text-align: center;
  }

  .buy-now {
    padding: 10px 30px;
  }
  .new-arrivals {
    flex-direction: column;
    align-items: center;
  }

  .newsletter-text {
    display: none;
  }

  .form-footer {
    display: flex;
    justify-content: center;
  }
  .footer-text {
    margin-left: 60px;
  }

  .Subscribe {
    margin-top: 10px;
    padding: 11px 30px;
    font-size: 1em;
    color: #e9c69e;
    border-radius: 10px;
    background: #574f4f;
  }

  /*--------------------------------------------------About us, men.women,  --------------------------*/
  .group-picture {
    width: 100%;
  }
  .about {
    margin-top: 20px;
  }

  .welcome-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .choose-my-style {
    font-size: 22px;
    padding-bottom: 10px;
    text-align: center;
    padding-bottom: 25px;
    padding-left: 64px;
    margin-bottom: 64px;
  }
  .products {
    width: 100%;
    max-width: 180px;
  }
  .welcome-2 {
    width: 100%;
    max-width: 542px;
  }
  /*------------------------------------------------collection-,log in, Sign up ------------------------------- ----*/
  .new {
    margin-top: 25px;
    padding-top: 405px;
    font-size: 2em;
  }
  .new-1 {
    font-size: 1.4em;
  }
  .welcome-collection {
    grid-template-columns: repeat(2, auto);
  }
  .wrap {
    flex-direction: column;
    align-items: center;
  }
  .login-picture {
    left: 177px;
  }
  .cta {
    left: 169px;
    margin-bottom: 65px;
  }
  .items-2 {
    display: inline-block;
  }
  .btn {
    position: relative;
    left: 144px;
    padding: 10px 30px;
    font-size: 1.2em;
  }
  .sub-heading {
    font-size: medium;
    text-align: center;
  }
  .menswear {
    margin-top: 25px;
  }
  .cart-product {
    margin-left: 7px;
    margin-bottom: -18px;
    margin-top: -8px;
    position: static;
  }
  .card-details {
    text-decoration: underline;
    margin-bottom: 50px;
  }
  .btn {
    position: initial;
  }
}

/*-----------------------------------------------media phone--media quarry -------------------------------- ----*/

@media (max-width: 430px) {
  body {
    margin: 0;
  }

  .logo-img {
    position: absolute;
    left: 155px;
    right: 0px;
    top: 42px;
    bottom: 0px;
    margin-top: 11px;
  }
  .navigation-2 {
    position: static;
    margin-top: 37px;
    width: 230px;
    padding-top: 8px;
  }

  .search-box {
    position: static;
    margin-bottom: 19px;
  }
  #burger {
    display: block;
    position: static;
    font-size: 22px;
    margin-top: 73px;
    margin-left: -8px;
  }

  .cta-1 {
    padding: 10px 15px;
    margin: 0;
    font-size: 0.9em;
    margin-left: 6px;
  }
  .cart {
    position: inherit;
    margin-top: 0;
  }

  #menu-checkbox:checked ~ nav {
    display: grid;
    position: absolute;
    left: 0px;
    top: 155px;
  }

  nav {
    background-color: #e9c69e;
    padding: 50px;
    padding-top: 17px;
    left: -1px;
    font-size: 22px;
    border-radius: 10px;
    top: 213px;
  }

  .men-1 {
    background-size: 70%;
  }

  .women-1 {
    background-size: 70%;
  }

  .women {
    display: none;
  }

  .men {
    position: inherit;
  }

  h1 {
    margin: 0;
    padding-top: 20px;
    width: 235px;
    font-size: 3em;
    text-align: -moz-right;
  }

  .buy {
    padding-top: 30px;
    font-size: 1.2em;
    text-align: center;
  }

  .buy-buy {
    padding: 0px;
    font-size: 0.7em;
  }
  .cta-2 {
    padding: 10px 30px;
    font-size: 1em;
  }

  .payment {
    display: none;
  }

  .buy-now {
    padding: 10px 40px;
  }

  h3 {
    font-size: 1.4em;
  }

  .form-footer {
    margin: 0;
    padding: 0;
  }

  .footer-text {
    display: none;
  }

  .copywrite {
    font-size: 12px;
  }
  .e-post {
    position: inherit;
  }

  /*------------------------------------------------Men- women , collection-media quarry -------------------------------- ----*/

  .welcome-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
  .welcome-2 {
    margin-top: 28px;
  }

  .choose-my-style {
    font-size: 22px;
    padding-bottom: 40px;
    text-align: -moz-right;
    padding-left: 64px;
    margin-bottom: 64px;
  }
  .products {
    max-width: 152px;
  }
  .background {
    margin-top: 30px;
  }

  /*------------------------------------------------about us -------------------------------- ----*/

  .about-text {
    padding-left: 15px;
    padding-right: 15px;
  }
  .group-picture {
    width: 100%;
  }
  .footer-text {
    display: none;
  }

  .new {
    font-size: 2.5em;
    text-align: center;
    display: contents;
  }

  .welcome-collection {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
  }

  .wrap {
    flex-direction: column;
    align-items: center;
  }

  .follow-media {
    padding-left: 62px;
  }

  .login-picture {
    display: none;
  }
  /*------------------------------------Log in and sign up -----------------------------------------------------------*/
  .account {
    grid-template-columns: 100px 200px;
  }
  .cta {
    font-size: 17px;
    margin: 50px 0px;
    left: 65px;
  }
  .products-login {
    margin: 50px 0px;
    max-width: 300px;
  }
  .create-account {
    font-size: 1.5em;
  }

  .label {
    font-size: 13px;
  }
  /*------------------------------------product page and payment page order page  ---------------------------------------------*/
  .items-2 {
    display: inline;
  }
  .mens-jackets {
    text-align: inherit;
    box-sizing: border-box;
    width: 325px;
    text-align: center;
  }
  .btn {
    padding: 5px 10px;
    font-size: 17px;
    margin: 30px 30px;
  }

  .menswear {
    font-size: 1.6em;
    text-align: end;
  }

  .sub-heading {
    font-size: 18px;
  }

  .details {
    text-align: left;
    font-size: small;
  }

  .card-details {
    font-size: 1.6em;
    text-align: end;
    margin-bottom: 22px;
  }

  .shipping {
    padding-top: 10px;
  }

  .Confermation {
    text-align: -moz-center;
  }

  .order-conferm {
    font-size: 1.4em;
  }

  .noroff {
    font-size: 1.5em;
    margin-bottom: 74px;
    margin-bottom: 56px;
  }
}

@media (max-width: 920px) {
  .women-1,
  .men-1 {
    background-size: 350px;
  }
  .welcome-1 {
    align-items: center;
    margin-top: 25px;
  }
  .welcome-2 {
    align-items: center;
    margin-top: 50px;
  }

  .star {
    left: 148px;
  }
  .footer-text {
    margin-left: 45px;
  }
  .form-footer {
    padding-left: 45px;
  }
  .about {
    margin-top: 25px;
  }
  .about-text {
    max-width: 680px;
  }
  .group-picture {
    width: 100%;
  }
  .wrap {
    flex-direction: column;
    align-items: center;
  }
  .cta {
    left: 163px;
    right: 0px;
    margin-bottom: 20px;
    font-size: 14px;
  }
  .items-2 {
    display: inline;
  }
  .mens-jackets {
    text-align: center;
  }
  .subscribe {
    font-size: 22px;
  }
}
