body {
  font-family: "Poppins", Verdana, Arial, Helvetica, Geneva, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

/*------------------------------------header------------------------------------------------------------*/

header {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}

.navigation {
  display: flex;
}

.cta-2hide {
  display: none;
}

.navigation-2 {
  margin-top: 25px;
}

.menu-bar {
  margin-top: 25px;
}

.logo-img {
  width: 100%;
  max-width: 100px;
}

#menu-checkbox {
  display: none;
}

#burger {
  display: none;
}

.search-box {
  padding: 5px 20px;
  background: url(../images/interface\ search.png) no-repeat;
  background-position: right bottom -5px;
  cursor: pointer;
}

nav a {
  color: #000;
  padding: 7px;
  font-size: 1.1em;
  text-decoration: none;
}

.cart {
  max-width: 40px;
  float: right;
  position: relative;
  left: 4px;
  bottom: 4px;
}

.cta-1 {
  background-color: #e9c69e;
  padding: 6px 13px;
  margin: 12px;
  text-decoration: none;
  color: #574f4f;
  border-radius: 5px;
  box-shadow: 0px 1px 4px;
  font-weight: bold;
}

/*---------------------------------------main-----------------------------------------------------------*/

.gender {
  text-align: center;
}

.cta-2 {
  background-color: #574f4f;
  color: #e9c69e;
  padding: 8px 45px;
  font-size: 1.5em;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  bottom: 50px;
  box-shadow: -1px 13px 10px #dbdbdb;
  text-shadow: 0 2px 5px #000;
}

.cta-3 {
  background-color: #574f4f;
  color: #e9c69e;
  padding: 8px 45px;
  font-size: 1.5em;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  top: 45px;
}

.buy-now {
  background-color: #574f4f;
  color: #e9c69e;
  padding: 10px 50px;
  font-size: 1.5em;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: -1px 14px 12px #dbdbdb;
  text-shadow: 0 2px 5px #000;
  text-align: center;
}

.container-1 {
  display: flex;
  justify-content: center;
}

.women-1 {
  background: url(../images/circle\ women.png) no-repeat;
  background-size: 500px;
  background-position: left bottom 80%;
  max-width: 100%;
  min-width: 350px;
}

.men-1 {
  background: url(../images/circle\ man.png) no-repeat;
  background-size: 500px;
  background-position: right bottom 80%;
  max-width: 100%;
  min-width: 350px;
}

.women-1 {
  width: 100%;
  max-width: 650px;
}

.men-1 {
  width: 100%;
  max-width: 650px;
}
/*------------------------------------section new arrivals------------------------------------------------*/
.men {
  width: 100%;
  max-width: 520px;
}

.women {
  width: 100%;
  max-width: 419px;
  position: relative;
  right: 100px;
  bottom: -45px;
}

.buy {
  padding-top: 10px;
  padding-bottom: 30px;
  box-sizing: border-box;
  max-width: 370px;
  text-align: center;
}
.buy-buy {
  padding-left: 30px;
  max-width: 350px;
  display: initial;
}

.new-arrivals {
  background-color: #f4e3cf;
  padding: 80px;
  display: flex;
  justify-content: center;
  font-size: 1em;
  text-align: center;
}

.men-women {
  display: flex;
  flex: 1;
  flex: inherit;
}

h1 {
  color: #574f4f;
  font-size: 2em;
  margin: 20px;
  text-decoration: underline 2px solid #574f4f;
  text-underline-offset: 25px;
}

h3 {
  color: #574f4f;
  margin: 0px;
  text-align: center;
  position: relative;
  top: 20px;
  font-style: italic;
}
footer {
  background-color: #dbdbdb;
}
/*------------------------------------Footer-----------------------------------------------------------*/

.footer-text {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 120px;
  grid-gap: 20px;
}

#email {
  padding: 5px 80px;
  display: block;
}

ul {
  list-style: none;
}

.copywrite {
  text-align: center;
  font-weight: bold;
}

.form-footer {
  padding-left: 120px;
  box-sizing: border-box;
  max-width: 550px;
}

.copy {
  font-size: 18px;
}

.subscribe {
  font-size: 0.9em;
  border: none;
  color: #534040;
  text-decoration: none;
  background-size: 20px;
  text-align: justify;
  padding-top: 18px;
  padding-left: 57px;
}

/*........................................About us ..........................................*/

.about {
  text-align: center;
  background-image: url(../images/about\ us.jpg);
  height: 50vh;
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: cover;
  color: #000;
  width: 100%;
  text-shadow: -1px 1px 2px #fff;
  font-size: 2.5em;
  margin: 0;
}

.about-text {
  background-color: #574f4f;
  color: #fff;
  text-align: left;
  width: 500px;
  margin: 0 auto;
  padding: 40px 90px;
  position: relative;
  top: -100px;
  padding: 50px 150px;
  font-size: 1.1em;
  box-sizing: border-box;
  max-width: 900px;
  width: 100%;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.follow-media {
  font-size: 2.6em;
  padding-bottom: 30px;
  padding-top: 60px;
  margin: 0px;
}

.about-media {
  text-align: center;
  max-width: 600px;
}

.team {
  position: relative;
  bottom: -5px;
}

group-picture {
  width: 100%;
  max-width: 1000px;
}

.sosial-media {
  width: 9%;
  padding-right: 10px;
  padding-top: 20px;
}

.rainy {
  padding: 0px 50px;
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 0px;
}

/*------------------------------------Men page and women page -----------------------------------------------------------*/

.welcome-2 {
  width: 100%;
  max-width: 400px;
  margin-top: 85px;
}
.welcome-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: self-end;
  gap: 20px;
}
.four {
  grid-column: 2;
}
.main {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}
.products {
  width: 100%;
  max-width: 150px;
}
.star {
  position: relative;
  right: -180px;
  top: -200px;
  width: 100%;
  max-width: 16px;
}
.choose-my-style {
  text-align: unset;
  margin-bottom: 65px;
}

/*........................................collection-----------------------------------..........................................*/

.background {
  background: url(../images/collection\ page.jpg) no-repeat;
  background-size: cover;
  background-position-y: center;
  display: block;
  justify-content: center;
  text-align: center;
  height: 50vh;
}
.new {
  color: #000;
  text-shadow: 3px 5px 5px #dbdbdb;
  font-size: 46px;
  padding-top: 250px;
}
.new-1 {
  font-style: italic;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 3px 5px 5px #dbdbdb;
}

.welcome-collection {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-evenly;
  margin-top: 200px;
}
/*------------------------------------Men page and women page -----------------------------------------------------------*/
.womens-wear {
  width: 100%;
  max-width: 250px;
}
.womens-section {
  max-width: 100px;
}
/*------------------------------------checkout page -----------------------------------------------------------*/
.card-details {
  text-align: center;
  text-decoration: none;
}

.shipping {
  display: flex;
  justify-content: center;
  padding: 50px 10px;
  height: 50px;
}
.btn {
  background-color: #e9c69e;
  padding: 12px 50px;
  margin: 50px;
  text-decoration: none;
  color: #574f4f;
  border-radius: 5px;
  box-shadow: 1px 1px 4px;
  font-weight: bold;
  font-size: 1.5em;
  align-items: center;
}
.purchase {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/*------------------------------------product -----------------------------------------------------------*/
.cart-product {
  background: url(../images/red\ star.png) no-repeat;
  background-position: center;
  position: absolute;
  background-position-y: 2px;
}
.items-1 {
  width: 100%;
  max-width: 250px;
  padding: 20px 20px;
  border: thin solid #574f4f;
  margin-top: 60px;
}

.items-2 {
  width: 100%;
  max-width: 80px;
  display: block;
  padding: 20px 20px;
  border: thin solid #574f4f;
}
.price {
  box-sizing: border-box;
  max-width: 500px;
  display: flex;
  justify-content: flex-start;
  gap: 25px;
}
.menswear {
  text-align: center;
  text-decoration: none;
}
.details {
  box-sizing: border-box;
  max-width: 500px;
}
/*------------------------------------Log in and sign up -----------------------------------------------------------*/
.products-login {
  width: 100%;
  max-width: 400px;
  background: url(../images/log\ in\ page-circle.png) no-repeat;
  background-size: 100%;
  margin: 40px 0;
}

.cta {
  background-color: #e9c69e;
  text-decoration: none;
  color: #000000;
  border-radius: 5px;
  font-size: 22px;
  font-weight: bold;
  padding: 7px 50px;
  position: relative;
  left: 287px;
}

.account {
  display: grid;
  grid-template-columns: 161px 300px;
  grid-gap: 10px;
}
.create-account {
  margin-left: 0px;
  margin-bottom: 50px;
}

.wrap {
  display: flex;
  justify-content: space-evenly;
}
.login-picture {
  position: relative;
  left: 250px;
  margin-bottom: 20px;
}
.discount-code {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.illustration {
  width: 100%;
  max-width: 310px;
  margin-top: 45px;
}

/*------------------------------------order conferm -----------------------------------------------------------*/
.Confermation {
  text-align: center;
}
.order {
  display: flex;
  flex-direction: column;
}

/*-------------------------------------------------------i pad phone  media quarry ------------------------------------------------*/

@media (max-width: 800px) {
  body {
    margin: 0;
  }

  .cart {
    margin-top: 0;
    left: 28px;
    bottom: 30px;
    right: 0px;
  }

  .sub-menu {
    position: absolute;
    top: 105px;
    margin-right: 115px;
  }
  .search-box {
    padding-left: 66px;
    padding-right: 20px;
    margin-top: 47px;
    display: inline;
    position: static;
  }
  .cta-1 {
    left: 95px;
  }

  .logo-img {
    position: absolute;
  }

  nav {
    display: none;
  }

  #menu-checkbox:checked ~ nav {
    display: clock;
  }

  #burger {
    display: block;
    position: static;
  }
  .navigation-2 {
    position: static;
  }

  .container-1 {
    flex-direction: column;
  }

  .men {
    position: absolute;
    left: 1px;
  }
  .men:hover {
    z-index: 1;
    transform: scale(1.1);
    transition: ease-out 250ms;
  }

  .women {
    position: relative;
    left: 181px;
  }
  .women:hover {
    transform: scale(1.1);
    transition: ease-out 250ms;
  }

  h1 {
    margin: 0;
    font-size: 28px;
    text-align: center;
  }
  .buy-buy {
    padding-top: 88px;
    margin-top: 40px;
  }
  .buy {
    text-align: center;
  }

  .buy-now {
    padding: 10px 30px;
  }
  .new-arrivals {
    flex-direction: column;
    align-items: center;
  }

  .newsletter-text {
    display: none;
  }

  .form-footer {
    display: flex;
    justify-content: center;
  }
  .footer-text {
    margin-left: 60px;
  }

  .Subscribe {
    margin-top: 10px;
    padding: 11px 30px;
    font-size: 1em;
    color: #e9c69e;
    border-radius: 10px;
    background: #574f4f;
  }

  #menu-checkbox:checked ~ nav {
    display: grid;
    position: absolute;
    left: 32px;
    top: 155px;
  }
  .welcome-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .choose-my-style {
    font-size: 22px;
    padding-bottom: 10px;
    text-align: center;
    padding-bottom: 25px;
    padding-left: 64px;
    margin-bottom: 64px;
  }
  .products {
    width: 100%;
    max-width: 180px;
  }
  .welcome-2 {
    width: 100%;
    max-width: 542px;
  }
}

/*------------------------------------------------media phone--media quarry -------------------------------- ----*/

@media (max-width: 430px) {
  body {
    margin: 0;
  }

  .logo-img {
    position: absolute;
    left: 155px;
    right: 0px;
    top: 42px;
    bottom: 0px;
    margin-top: 11px;
  }
  .navigation-2 {
    position: static;
    margin-top: 37px;
    width: 230px;
    padding-top: 8px;
  }

  .search-box {
    position: static;
    margin-bottom: 19px;
  }
  #burger {
    display: block;
    position: static;
    font-size: 22px;
    margin-top: 73px;
    outline: 2px solid #e9c69e;
    outline-offset: 7px;
  }

  .cta-1 {
    padding: 10px 15px;
    margin: 0;
    font-size: 0.9em;
    margin-left: 6px;
  }
  .cart {
    position: inherit;
  }

  #menu-checkbox:checked ~ nav {
    display: grid;
    position: absolute;
    left: 0px;
    top: 155px;
  }

  nav {
    background-color: #e9c69e;
    padding: 50px;
    padding-top: 17px;
    left: -1px;
    font-size: 22px;
  }
  nav a {
    font-weight: bold;
  }

  .men-1 {
    background-size: 70%;
  }

  .women-1 {
    background-size: 70%;
  }

  .women {
    display: none;
  }

  .men {
    position: inherit;
  }

  h1 {
    margin: 0;
    padding-top: 20px;
    width: 235px;
    font-size: 3em;
    text-align: -moz-right;
  }

  .buy {
    padding-top: 30px;
    font-size: 1.2em;
    text-align: center;
  }

  .buy-buy {
    padding: 0px;
    font-size: 0.7em;
  }
  .cta-2 {
    padding: 10px 30px;
    font-size: 1em;
  }

  .payment {
    display: none;
  }

  .buy-now {
    padding: 10px 40px;
  }

  h3 {
    font-size: 1.4em;
  }

  .form-footer {
    margin: 0;
    padding: 0;
  }

  .footer-text {
    display: none;
  }

  .copywrite {
    font-size: 12px;
  }
  .e-post {
    position: inherit;
  }

  /*------------------------------------------------Men- women , collection-media quarry -------------------------------- ----*/

  .welcome-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .welcome-2 {
    margin-top: 28px;
  }

  .choose-my-style {
    font-size: 22px;
    padding-bottom: 40px;
    text-align: -moz-right;
    padding-bottom: 40px;
    padding-left: 64px;
    margin-bottom: 64px;
  }
  .products {
    max-width: 152px;
  }
  .background {
    margin-top: 30px;
  }

  /*------------------------------------------------about us -------------------------------- ----*/

  .about-text {
    padding-left: 15px;
    padding-right: 15px;
  }
  .group-picture {
    width: 100%;
  }
  .footer-text {
    display: none;
  }

  .new {
    font-size: 2.5em;
    text-align: center;
    display: contents;
  }

  .welcome-collection {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .follow-media {
    padding-left: 62px;
  }

  .login-picture {
    display: none;
  }
  /*------------------------------------Log in and sign up -----------------------------------------------------------*/
  .account {
    grid-template-columns: 100px 200px;
  }
  .cta {
    font-size: 17px;
    margin: 50px 0px;
    left: 65px;
  }
  .products-login {
    margin: 50px 0px;
    max-width: 300px;
  }
  .create-account {
    font-size: 1.5em;
    text-align: -moz-left;
  }
  .label {
    font-size: 13px;
  }
  /*------------------------------------product page and payment page order page  ---------------------------------------------*/
  .items-2 {
    display: inline;
  }
  .mens-jackets {
    text-align: inherit;
    box-sizing: border-box;
    width: 325px;
    text-align: center;
  }
  .btn {
    padding: 5px 10px;
    font-size: 17px;
    margin: 30px 30px;
  }

  .menswear {
    font-size: 1.6em;
    text-align: end;
  }

  .sub-heading {
    font-size: 18px;
  }

  .details {
    text-align: left;
    font-size: small;
  }

  .card-details {
    font-size: 1.6em;
    text-align: end;
    margin-bottom: 22px;
  }

  .shipping {
    padding-top: 10px;
  }

  .Confermation {
    text-align: -moz-center;
  }

  .order-conferm {
    font-size: 1.4em;
  }

  .noroff {
    font-size: 1.5em;
    margin-bottom: 74px;
    margin-bottom: 56px;
  }
}
