body {
  font-family: "Poppins", Verdana, Arial, Helvetica, Geneva, sans-serif;
  margin: 0;
}

/* --------------------------------nav bar -------------------*/

.logo img {
  width: 200px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  color: #000;
  padding: 25px;
  font-size: 1.6em;
  text-decoration: none;
}

.search-bar {
  padding: 10px 60px;
  margin-right: 15px;
}

.search-bar {
  background-image: url(../images/interface\ search.png);
  background-repeat: no-repeat;
  background-position: right;
}

.search {
  display: inline-block;
}


.cta-1 {
  background-color: #e9c69e;
  padding: 10px 20px;
  margin: 15px;
  text-decoration: none;
  color: #000
  font-weight: bold;
  border-radius: 5px;
}

.cta-1 {
  box-shadow: 0px 3px 5px ;
  color: #000;
}

.sub-menu img {
  max-width: 10px;
}

.cart {
  max-width: 37px;
}

.cta-2 {
  background-color:#574F4F;
  color: #e9c69e;
  padding: 20px 50px;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-1 { 
  display: inline-flex;
  

}

.New-arrivals {
  background-color: #F4E3CF;
}

.women {
  max-width: 100%;
  min-width: 300px;
}

.men {
  max-width: 100%;
  min-width: 300px;
}