body {
  font-family: "Poppins", Verdana, Arial, Helvetica, Geneva, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo-img {
  max-width: 150px;
  width: 100%;
  padding-top: 15px;
}

nav a {
  color: #000;
  padding: 15px;
  font-size: 1.1em;
  text-decoration: none;
}

.search-bar {
  padding: 10px 50px;
  margin-right: 0px;
}

.click-search {
  width: 100%;
  max-width: fit-content;
  cursor: pointer;
  position: relative;
  left: -50px;
  top: 10px;
}

.cart {
  max-width: 40px;
  float: right;
  position: relative;
  left: 37px;
  bottom: -7px;
}

.cta-1 {
  background-color: #e9c69e;
  padding: 6px 13px;
  margin: 12px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 1px 4px;
  color: #000;
}

.gender {
  text-align: center;
}

.cta-2 {
  background-color: #574f4f;
  color: #e9c69e;
  padding: 12px 80px;
  font-size: 1.5em;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  bottom: 50px;
  box-shadow: -1px 13px 10px #dbdbdb;
  text-shadow: 0 2px 5px #000;
}

.buy-now {
  background-color: #574f4f;
  color: #e9c69e;
  padding: 15px 80px;
  font-size: 1.5em;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: -1px 14px 12px #dbdbdb;
  text-shadow: 0 2px 5px #000;
  text-align: center;
}

.container-1 {
  display: flex;
  justify-content: center;
}

.Women-1 {
  background-image: url(../images/circle\ women.png);
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: left bottom 80%;
  max-width: 100%;
  min-width: 350px;
}

.men-1 {
  background-image: url(../images/circle\ man.png);
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: right 20% bottom 80%;
  max-width: 100%;
  min-width: 350px;
}

.Women-1 {
  width: 100%;
  max-width: 650px;
}

.men-1 {
  width: 100%;
  max-width: 650px;
}

.men {
  width: 100%;
  max-width: 520px;
}

.women {
  width: 100%;
  max-width: 419px;
  position: relative;
  right: 100px;
  bottom: -45px;
}

.buy {
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 30px;
  box-sizing: border-box;
  max-width: 370px;
  width: 100%;
  text-align: center;
}
.buy-buy {
  padding-left: 30px;
  max-width: 350px;
  display: initial;
}

.New-arrivals {
  background-color: #f4e3cf;
  padding: 80px;
  display: flex;
  justify-content: center;
  font-size: 1em;
  text-align: center;
}

.New-arrivals {
  text-align: center;
}

.men-women {
  display: flex;
  flex: 1;
  flex: inherit;
}

h1 {
  color: #574f4f;
  font-size: 2em;
  margin: 20px;
  text-decoration: underline 2px solid #574f4f;
  text-underline-offset: 25px;
}

h3 em {
  color: #574f4f;
  margin: 0px;
  text-align: center;
  position: relative;
  top: 20px;
}

footer {
  background-color: #eeeded;
  padding: 10px;
}

#email {
  padding: 5px 80px;
  display: block;
}

.footer-text {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
}

.newsletter-text {
  max-width: 350px;
  width: 100%;
  text-decoration: none;
  font-size: 1em;
}

.Subscribe {
  font-size: 1em;
  border: none;
  background-color: #eeeded;
  text-decoration: none;
}

ul {
  list-style: none;
}

.copywrite {
  text-align: center;
  font-weight: bold;
}

.form-footer {
  padding-left: 170px;
  box-sizing: border-box;
  max-width: 550px;
}

.copy {
  font-size: 18px;
}

/*---desktop phone ----*/

@media only screen and (max-width: 1280px) {
  pre {
    font-size: 0.8em;
  }
  .men-women {
    flex: 1;
    flex-flow: inherit;
  }
}

/*---i pad phone ----*/

@media only screen and (max-width: 800px) {
  .container-1 {
    max-width: 650px;
    margin-left: 80px;
  }
  .menu-bar {
    display: none;
  }
  .cta-2 {
    padding: 5px 35px;
    font-size: 20px;
    top: -30px;
  }
  .cta-1 {
    padding: 5px 35px;
    font-size: 20px;
    top: -30px;
  }
  .buy {
    font-size: 0.8em;
    width: 250px;
  }
  h1 {
    font-size: 1.5em;
    color: #eeeded;
  }
  .buy-now {
    padding: 8px 50px;
    font-size: 15px;
    box-shadow: 12px 25px 41px #d47070;
  }
  h3 em {
    color: #1f1e1e;
    top: 0;
  }

  .men-women {
    display: none;
  }
  .New-arrivals {
    background-image: url(../images/lady\ with\ yellow\ jacket\ looking\ thup\ in\ the\ rain-min.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

/*---media phone ----*/

@media only screen and (max-width: 600px) {
  pre {
    font-size: 0.7em;
  }

  .container-1 {
    flex-direction: column;
    margin: 30px;
  }
  .logo-img {
    position: relative;
    top: 6px;
    left: 76px;
  }
  .Women-1,
  .men-1 {
    background-size: 450px;
  }
  .cta-1 {
    display: none;
  }
  .cta-2 {
    padding: 10px 80px;
    border-radius: 10px;
  }
  nav {
    display: none;
  }

  li {
    display: none;
  }

  .women {
    position: relative;
    right: -135px;
    bottom: 10px;
    width: 70%;
  }

  .men {
    position: absolute;
    left: 10px;
    bottom: -1032px;
    width: 63%;
  }

  .buy {
    padding-right: 0px;
    max-width: none;
  }

  .buy-buy {
    max-width: none;
  }
  .newsletter-text {
    max-width: none;
  }

  .buy-now {
    padding-left: 90px;
    padding-right: 90px;
  }

  .New-arrivals {
    flex-direction: column;
  }

  h3 em {
    margin: 0px;
    padding-top: 20px;
    left: 0px;
    right: 0px;
  }

  .cart {
    display: none;
  }

  .form-footer {
    padding: 0px;
  }

  #menu-checkbox:checked ~ nav a {
    display: block;
    justify-content: center;
  }
}
